

.nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:100%;
}
.navbar-nav{
    width:15vw;
    display: flex;
    flex-direction: row;
     gap:40px;
}
.nav-brand{
    display: flex;
    align-items: center;
}
.btn {
    background: var(--card);
    height: max-content;
    width: max-content;
    border: 1px solid var(--border);
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
}
#Logo{
    width: 8rem;
}